html * {
  font-family: "DM Sans", "Helvetica Neue", "Poppins", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Arial", "sans-serif";
}

.theme-button-text {
  font-family: "DM Sans", "Helvetica Neue", "Poppins", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Arial", "sans-serif";
  font-size: 14px;
  margin: 5px 0;
  /* Make sure the text is aligned to the SVG */
  vertical-align: middle;
}