/* Stylesheet for link underlining. */

#underline a:hover{
    position: relative;
    text-decoration: none !important;
    color: inherit;
}

#underline a::before{
    text-decoration: none !important;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    color: inherit;
    background-color: currentColor;
    transition: width 0.3s cubic-bezier(0.25, 1, 0.25, 1);
}

@media (hover: hover) and (pointer: fine) {
    #underline a:hover::before{
        text-decoration: none !important;
        position: absolute;
        left: 0%;
        right: auto;
        width: 100%;
    }
}